.Pagination{
    margin: 20px 0 50px 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.Pagination button{
    margin-left: 54px;
    background-color: #fff;
    border: none;
    font-weight: 700;
    font-size: 18px;
    cursor: pointer;
}

.Pagination button:disabled{
    cursor:not-allowed;
}